@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.nav {
    /* display: flex; */
    background-color: black;
    /* justify-content: space-around; */
    /* align-items:flex-start; */
    width: 850px;
}
.nav-bar {
    /* display: flex; */
    margin: 0 auto;
    /* justify-content: center; */
    width: 850px;
}
.nav-title {
    color:white;
    margin-left: 50px;
}
.feed {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
}
/* like button */
.likes {
    background-color: yellow;
    color:black;
}
/* add definition */
.add {
    background-color: greenyellow;
    color:black;
}
/* login button */
.login {
    background-color: blue;
    color:white;
}
.container{
    display: flex;
    margin: 0px auto;
    width: 850px;
    justify-content: space-evenly;
}
.topleft, .right-1 {
    border: 1px solid grey;
}
.topleft > .bottom {
    width: 150px;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.topleft > .bottom > .bottom-contents {
    padding: 0px 20px;
    font-size: 16px;
}
.marginbottom {
    margin-bottom: 15px;
}
.right-1 > .top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 20px;
}
.right-1 > .bottom {
    width: 500px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
}
.right-1 > .bottom > .bottom-contents {
    padding: 10px 20px;
    font-size: 20px;
}
.add {
    width: 45px;
}
.topleft, .right-1 {
    position: relative;
    top: 50px;
}
.col1 {
    /* position: relative;
    left: 50px; */
    /* display: flex;
    flex-wrap: wrap;
    gap: 100px; */
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
}
.col2 {
    /* position: relative;
    left: 100px; */
    /* display: flex;
    flex-wrap: wrap;
    gap: 100px; */
    
}